.experience_container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 50%));
    /* gap: ;  */
    column-gap: 200px;
    row-gap: 80px;
    /* background-color: red; */

}



.experience_frontend {
    position: relative;
    opacity: 0;
    transform: translateY(150px);
    transition-property: all 1.2s ease;
    transition-delay: .2s !important;
}

.experience_backend, .experience {
    position: relative;
    opacity: 0;
    transform: translateY(150px);
    transition: all 1.2s ease;
}

.show_experience_section {
    opacity: 1;
    transform: translateX(0px);
    transition: all 1.2s ease;
}




.active_experience_backend {
    
    transform: translateX(0px);
    transition-property: transform;
    transition-delay: .2s !important;
    transition-duration: 1.2s;
    opacity: 1;
}
.active_experience_frontend {
    
    transform: translateX(0px);
    transition-property: transform;
    transition-duration: 1.2s;
    opacity: 1;
}



.experience_container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    width: 100%;
}

.experience_container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience_container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    align-content: space-between;
    column-gap: 5rem;
    /* width: 100%; */
    /* background-color: red; */

}

.experience_details {
    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */
}

.experience_details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}


/* =================== MEDIA QUERIES (MEDIUM DEVICES) =================== */
@media screen and (max-width: 1024px) {
    .experience_container {
        grid-template-columns: 1fr;
    }
    .experience_container > div {
        width: 100%;
        padding: 2rem;
        margin: 0 auto;
    }
    .experience_content {
        padding: 1rem;
        
    }
    
    /* .experience_frontend {
        width: 100%;
    } */

}
/* =================== MEDIA QUERIES (SMALL DEVICES) =================== */
@media screen and (max-width: 600px) {
    .experience_container {
        gap: 1rem;
    }

    .experience_container > div {
        width: 100%;
        padding: 2rem 1rem;
    }

}

